                
            .bodybg {
                
                margin: 0;
                padding: 0;
                font-family: Helvetica, Arial, sans-serif;
                background-color: darkred;
                opacity: 0.9;
                filter: alpha(opacity=93)
                
            }
            
            #background-image {
                
                margin-top: 0;
                width:1100px;
                float:left;
                margin-right:3px;
                height: 600px; 
            
            }
            
            #menubar-container {
                
                border-top: 2px solid #cccccc;
                background-color: #8B1919;
                width: 100%;
                height: 70px;
            
            }
            
            #menubar {
                width: 1100px;
                margin:0 auto;
            }
            
            h1 {
                padding: 0;
                margin: 0;
                color: white;
                font-size: 50px;
                font-weight: normal;
                padding-top: 10px;
                float: center;                
            }

            p1{
    
                font-size:20px;
                color:white;
                
                
            }

            p2 {
                font-size:30px;
                color: darkgoldenrod;
                float:left;
    
            }
            .topbar-menu a {
                color: black;
                text-decoration: none;
        
            }
            
            #currentlocation img {

                height: 35px;;
            }
            #menu-bar-2-container {
                background-color: firebrick;
                width: 100%;
            }

            #menu-bar-2 {

            width:1000px;
            margin:0 auto;
            height:40px;    
            }


            #menu-bar-2 a {
            color: white;
            text-decoration: none;
            padding: 0 10px;
            border-right: 1px solid white;
            font-size:18px;
            position: relative;
            top: 10px;
            }

            h2 {
                
            font-weight:bolder;
            margin-top: 25px;
            font-size: 20px;
            color:aliceblue;
            width: 120px;
            }
            
           .inputt {

            padding: 5px 5px 12px 5px;
            font-size: 15px;
            border-radius: 5px;
            border: 1px solid grey;
            width:320px;

            }
            
            .label {

            position: relative;
            top:12px;
            width:200px;
            float: left;

            }
               

            .formwrapper {

            width:550px;
            margin: 40px auto;
            float:center;
            font-style: italic;
            font-family:serif;
            font-weight:500;
                    
            }

            .form-element {

            margin-bottom: 5px;
            margin-left:10px;
            float:left;
            background-color:firebrick;
            }


            
            #submitButton {

            width: 130px;
            margin-left: 00px;
            float:right;
            background-color:firebrick;
            font-style: oblique;
            }
    
            .table {
                
            font-family: 'Roboto', sans-serif;
            border-collapse: collapse;
            width: 70%;
            margin-top: 5px;
            border-radius: 20px;
            }

            .table td, .table th {
             border: 1px solid #ddd;
            padding: 8px;
            }

            .table tr:nth-child(even){background-color: #f2f2f2;}

            .button {
            background-color: #8B4545;
            border: none;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
            opacity: 0.8;
            transition: 0.3s;   
            }

            #signin-image {
                
                width:35px;
                margin:10px 15px 0 10px;
                height:35px;
                float:right;
               
            }
            #signintext {
                
                font-weight: bold;
                font-size: 90%;
                position: relative;
                top: 14px;
                float: right;
                padding-right: 50px;  
                color: wheat
            }
h3 {
    
}
                